<div class="container">
  <h1>User Form</h1>
  <form>
    <div class="form-group">
      <label for="fName">First Name : </label>
      <input type="text" class="form-control" [(ngModel)="userInfo.firstName" >
    </div>

    <div class="form-group">
      <label for="lName">Last Name : </label>
      <input type="text" class="form-control" [(ngModel)="userInfo.lastName">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>>